{% extends "base.html" %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <hr>
    <p id="numqueries"> Total number of queries: {{ total_queries }}</p>
    {% for text in texts %}
    <p>
        <a id="query{{ text.id }}" href="/history/query{{ text.id }}">Query {{ text.id }}</a>
    </p>
    {% endfor %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}